@use  "../abstracts/colors" as *;
@use  "../abstracts/fonts" as *;


.main_content {
    padding: 0px 1.5rem 1.5rem;
    width: 100%;
    padding-top: 84px;
    background-color: $bg-color;
    color: $text-color;
    .section_main {
        max-width: $p-c-lg-w;
        margin: 3rem auto 0rem;

        .section_header {
            text-align: center;
            margin: 10px 10px 20px 10px;
            p {
                font-size: 0.85rem;
                font-weight: 300;
            }
        }

        .whole_poster {
            width: 100%;
            overflow-y: hidden;
            margin: 14px auto;
            position: relative;
            .poster_container {
                display: flex;
                scroll-behavior: smooth;
                // width: 100%;
                // margin: 0px 20px;
                // overflow: hidden;
                .poster {
                    width: $p-lg-w;
                    height: $p-lg-h;
                    margin: 10px 0px 8px 14px;
                    border-radius: 3px;
                    position: relative;
                    background-color: #222;
                    transition: all 0.5s ease-in-out;

                    &:first-child {
                        margin-left: 0px;
                    }

                    .poster_image {
                        width: $p-lg-w;
                        height: $p-lg-h;
                        border-radius: 5px;
                        background-color: $p-bg;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    .poster_detail {
                        padding: 10px 12px 10px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        background-color: rgba($color: #030303, $alpha: 0.9);

                        .poster_title {
                            color: rgba(220, 220, 220, 1);
                            font-size: 0.85rem;
                            font-weight: 600;

                            &:hover {
                                color: rgba(240, 240, 240, 1);
                            }

                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            // -webkit-line-clamp: 1;
                            // -webkit-box-orient: vertical;
                            // white-space: normal;
                        }

                        .poster_year {
                            font-size: 0.7rem;
                            font-weight: 300;
                            margin-top: 2px;
                            color: rgba(160, 160, 160, 1);
                        }
                    }
                }
            }

            .poster_container.active {
                transition: transform 0.2s ease-in-out;
                transform: scale(1.05);

            }

            .arrow {
                position: absolute;
                top: 50%;
                z-index: 10;
                transform: translateY(-50%);
                cursor: pointer;
                height: 100%;
                display: grid;
                place-items: center;
                font-size: 1.3rem;
                
            }

            .left_arrow {
                left: 0px;
                padding: 10px 12px 10px 6px;
                background:linear-gradient(to left, transparent, rgba(12,17,27,0.4), rgba(12,17,27,0.6));
                &:hover{
                    background:linear-gradient(to left, transparent, rgba(12,12,22,0.7), rgba(12,12,22,0.9));
                }
            }

            .right_arrow {
                right: 0;
                padding: 10px 6px 10px 12px;
                background:linear-gradient(to right, transparent, rgba(12,17,27,0.4), rgba(12,17,27,0.6));
                &:hover{
                    background:linear-gradient(to right, transparent, rgba(12,17,27,0.7), rgba(12,17,27,0.9));
                }
            }
        }
        .whole_poster {
            margin: 18px auto ;
            .poster_container_m {
                overflow-x: auto !important;
                .poster {
                    width: $p-sm-w;
                    height: $p-sm-h;
                }
                &::-webkit-scrollbar {
                    width: 0px;
                    height: 0px;
                  }
            }
        }
    }
}


@media screen and (max-width:600px) {
    .main_content {
        margin: 0;
        width: calc(100% - 0px);
        padding: 50px 0.8rem 1.5rem;
        .section_main {
            .section_header {
                margin:5px 12px;

                .heading {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.8rem;
                }

            }
            .whole_poster {
                margin: 18px auto ;
                .poster_container_m {
                    overflow-x: auto !important;
                }
            }            
        }
    }
}