@use  "../abstracts/colors" as *;
@use  "../abstracts/fonts" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px 12px 50px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgba($color: #0f0f0f, $alpha:0.75);
    // background: linear-gradient(360deg, transparent,$nav-color);
    // background: transparent;
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(3px);
    color: $text-color;
    &:hover {
        background-color: rgba($color: #0f0f0f, $alpha:0.8);
        backdrop-filter: blur(5px);
    }

    .nav_left_part {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .nav_list {
            margin-left: 14px;

            &>.nav_item{
                margin-left: 38px;
            }
            a {
                margin-left: 38px;
                .nav_item{
                    margin-left: 0px;
                }
                &:first-child,
                &:nth-child(2) {
                    .nav_item {
                        &:hover {
                            border-bottom: 1px solid transparent !important;
                        }
                    }

                }
            }
        }
        .nav_side_icon{
            display: none;   
        }
    }

    .nav_header {
        img {
            transition: all 0.2s ease-in-out;
            width: 44px;
            height: 44px;
        }
    }

    .nav_list {
        list-style: none;
        display: flex;
        align-items: center;
        position: relative;
        a {
            margin-left: 25px;

            .nav_item {
                &:hover {
                    border-bottom: 1px solid transparent;
                }
            }
        }

        .nav_item {
            font-size: 0.8rem;
            font-weight: 600;
            padding: 5px;
            // text-transform: uppercase;
            position: relative;
            cursor: pointer;
            z-index: 20;
            letter-spacing: 1.25px;
            border-bottom: 1px solid transparent;
            // margin-left: 28px;

            &:hover {

                // border-bottom: 1px solid #888;
                .nav_list_child {
                    opacity: 1;
                    top: 35px;
                    visibility: visible;
                }
            }


            span {
                margin-left: 6px;

                i {
                    font-size: 11px;
                    font-weight: 600;
                }
            }

            i {
                font-size: 16px;
                font-weight: 400;
            }

            .nav_list_child {
                list-style: none;
                align-items: center;
                background-color: rgba($color: #101010, $alpha: 1);
                position: absolute;
                width: max-content;
                z-index: 10;
                top: 60px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                border-radius: 5px;
                border: 0.2px solid #222;
                box-shadow: 0px 0px 8px -5px #444;

                a {
                    margin: 0 !important;
                }

                .nav_item_child {
                    padding: 16px 65px 16px 25px;
                    text-transform: none;

                    &:hover {
                        background-color: rgba($color: #222222, $alpha: 0.5);
                    }
                }

                .nav_item_child.first {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    // border-bottom:0.8px solid #222 ;
                }

                .nav_item_child.last {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    // border-top:0.8px solid #222 ;
                }
            }

            .nav_list_child.first {
                left: 0;
            }

            .nav_list_child.last {
                right: 0;
            }
        }

        .nav_item.s {
            width: 25px;
            height: 30px;

            i {
                color: #c5c5c5;
                font-weight: 300;

            }

            i.fa-times {
                font-size: 20px;
            }

        }
        .nav-item.load{
            animation: load 0.75s ease-in-out infinite;
        }
    }
    
    .search_container {
        transition: opacity 0.3s ease-in-out;
        display: flex;
        background-color: #080808;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        width: max-content;
        height: 42px;
        border: 1px solid #1f1f1f;
        position: relative;
        form {
            input {
                width: 320px;
                outline: none;
                border: none;
                color: #dadada;
                background-color: transparent;
                font-size: 0.85rem;
                padding: 10px 15px;
                transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, padding 0.5s 0.5s ease-in-out;

                &::placeholder {
                    font-weight: 400;
                    color: #8d8d8d;
                }
            }
        }
        .s_results{
            position: absolute;
            left: 0;
            top: 45px;
            width: 100%;
            background-color: #0d0d0d;
            border-radius: 5px;
            box-shadow: 0px 0px 10px -2px #444;
            max-height: 0px;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            a{
                margin-left: 0px;
            }
            .result{
                display: flex;
                padding: 8px 10px 5px;
                position: relative;
                border-bottom: 1px solid #222;
                .r_left{
                        width: 55px;
                        height: 80px;
                        border-radius: 3px;
                        overflow: hidden;
                        position: relative;
                        object-fit: cover;
                        background-color: $p-bg;
                    .no_image{
                        object-fit: contain;
                        padding: 5px;
                    }
                }
                .r_right{
                    color: $text-light-color;
                    padding-left: 10px;
                    flex: 1;
                    p{
                        font-size: 0.75rem;
                        color: inherit;
                        line-height: 1.15rem;
                    }
                    p.title{
                        font-size: 0.8rem;
                        color: $text-color;
                        font-weight: bold;
                    }
                    i{
                        color: $text-light-color;
                    }
                    .media_type{
                        width: max-content;
                        padding: 2px 5px;
                        margin-left: auto;
                        font-size: 0.7rem;
                        border-radius: 5px;
                        border: 1px solid $text-lighter-color;
                    }
                }
            }
            .result.active{
                background-color: #1a1a1a;
            }
            .more_results{
                padding: 10px;
                display: flex;
                justify-content: space-between;
            }
            .more_results.active{
                background-color: #1a1a1a;
            }
        }
        .s_results.active{
            // height: auto
            max-height: 550px;
        }
        .nav_item.search {
            background-color: #1f1f1f;
            height: 42px;
            padding: 0px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav_item.shortcut_icon{
            font-size: 1rem;
            font-weight: 600;
            border: 0.75px solid #333;
            border-radius: 5px;
            margin-right: 5px;
            color: $text-lighter-color;
            cursor: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: max-content;
            padding: 2px 6px;
            span{
                margin: 0;
            }
        }
    }

}

.navbar_sm{
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    padding: 12px 0px;
    z-index: 100;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba($color: #181818, $alpha: 0.25);
    backdrop-filter: blur(3px);
    color: $text-color;
    transition: all 0.2s ease-in-out;

    .nav_row_1{
        display: flex;
        padding: 0px 14px;
        justify-content: space-between;
        align-items: center;
        .nav_ham_container{
            cursor: pointer;
            background: transparent;
            .ham_line{
                width: 24px;
                height: 2px;
                margin-bottom: 5px;
                background-color: #c5c5c5;
            }
            &:focus{
                background-color: #444;
            }
        }
        .nav_header{
            .nav_header_image {
                width:36px;
                    height:36px;
                img {
                    width:36px;
                    height:36px;
                }
            }
        }
        .nav_search{
            cursor: pointer;
            i {
                color: #c5c5c5;
                font-weight: 400;
                font-size: 1.25rem;

            }
        }
    }
    .search_container_full{
        height: 100vh;
        background-color: #131313;
        z-index: 1001;
        position: fixed;
        top: 0;
        width: 100%;
        display: none;
        height: -webkit-stretch;
    }
    .search_container_full.active{
        display: flex;
        flex-direction: column;
    }
    .nav_row_2{
        transition: width 0.3s ease-in-out;
        display: flex;
        background-color: $nav-color;
        justify-content: center;
        align-items: center;
        color: $text-color;
        width: calc(100vw - 0px);

        form {
            flex: 1;
            input {
                outline: none;
                border: none;
                color: #dadada;
                background-color: transparent;
                font-size: 0.9rem;
                padding: 16px 0;
                &::placeholder {
                    font-weight: 400;
                    color: #8d8d8d;
                }
            }
        }
        .back_arrow{
            padding:10px 20px;
            i{
                font-size: 1.4rem;
                color: $text-lighter-color;
            }
        }
        .clear_search{
            padding:10px 20px;
            visibility: hidden;
            i{
                font-size: 1.2rem;
                color: $text-lighter-color;
            }
        }
        .clear_search.active{
            visibility: visible;
        }
        
    }
    .search_results{
        width: 100%;
        flex: 1;
        overflow-y: auto;
        .result{
            display: flex;
            padding: 8px 10px 5px;
            position: relative;
            border-bottom: 1px solid #222;
            .r_left{
                    width: 55px;
                    height: 80px;
                    border-radius: 3px;
                    overflow: hidden;
                    position: relative;
                    object-fit: cover;
            }
            .r_right{
                color: $text-light-color;
                padding-left: 10px;
                flex: 1;
                p{
                    font-size: 0.75rem;
                    color: inherit;
                    line-height: 1.15rem;
                }
                p.title{
                    font-size: 0.8rem;
                    color: $text-color;
                    font-weight: bold;
                }
                i{
                    color: $text-light-color;
                }
                .media_type{
                    width: max-content;
                    padding: 2px 5px;
                    margin-left: auto;
                    font-size: 0.7rem;
                    border-radius: 5px;
                    border: 1px solid $text-lighter-color;
                }
            }
            &:hover{
                background-color: #1a1a1a;
            }
        }
        .more_results{
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
    }
    .search_results.active{
        // height: auto
        // height: calc(100% - 56px);
    }
    .start_search_container{
        text-align: center;
        min-height: calc(100% - 56px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.nav_sidebar{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 100;
    display: block;
    transition: left 0.3s ease-in-out;
    .nav_side_container{
        height: 100vh;
        width: 70vw;
        background-color: $nav-color;
        color: $text-color;
        padding: 15px 10px 15px 0px;
        display: flex;
        flex-direction: column;
        .nav_close{
            align-self: flex-end;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: red;
            width: 40px;
            height: 40px;
            background: transparent;
            cursor: pointer;
            i{
                font-size: 2rem;
                font-weight: 400;
                color: $text-color;
                box-shadow: none;
                background: none;
            }
        }
        ul{
            list-style: none;
            li{
                padding: 18px 20px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                .profile_container{
                    display: flex;
                    align-items: center;
                    div{
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .info{
                        margin-left: 14px;
                        margin-right: 14px;
                        .login_info{
                            color: $text-lighter-color;
                            font-size: 0.85rem;
                        }
                    }
                }
            }
            .nav_item_with_info{
                display: flex;
                flex-direction: column;
                span{
                    font-size: 0.85rem;
                    color: $text-lighter-color;
                }
            }
            .nav_list_child{
                // height: 0;
                // overflow: hidden;
                display: none;
                margin-left: 16px;
                font-size: 0.9rem;
                p{
                    padding: 0 12px 18px ;
                }
            }
            .nav_list_child.active{
                display: block;
            }
        }
    }
}

.nav_sidebar.active{
    left: 0;
    background: #0d0d0dbb;
    transition: left 0.3s ease-in-out,background 0.3s ease-in-out 0.15s;
}
.navbar.scroll {
    position: fixed;
    background-color: rgba($color: #181818, $alpha: 0.6);
    padding: 10px 50px 10px 50px;
    backdrop-filter: blur(10px);
}
.navbar_sm.scroll {
    position: fixed;
    background-color: rgba($color: #181818, $alpha: 0.6);
    backdrop-filter: blur(10px);
}

.navbar.hide {
    top: -76px;
}

.navbar.show {
    position: fixed;
    top: 0px;
}

.nav_home{
    background-color: transparent;
    backdrop-filter: none;
    &:hover{
        background-color: transparent;
        backdrop-filter: none;
    }
}
// @media screen and (max-width:600px) {
//     .navbar {
        
//         display: none;
//     }
//     .navbar_sm{
//         display: block;
//     }
//     .nav_sidebar{
//         display: block;
//     }
//     .navbar.scroll{
//         padding: 6px 10px 6px 20px;
//         .nav_header {
//             img {
//                 width: 40px;
//                 height: 40px;
//             }
//         }
//     }
// }