@use  "../abstracts/colors" as *;
@use  "../abstracts/fonts" as *;

.w_container{
    padding-top: 90px;
    color: $text-color;
    .person_info_container{
        display: flex;
        padding: 26px $container-padding;
        .person_poster{
            align-self: flex-end;
        }
        .poster_container{
            width: 240px;
            height: 340px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            background-color: $p-bg;
        }
        .person_info{
            padding: 4px 20px;
            .name{
                margin-bottom: 0px;
            }
            .biography{
                color: $text-light-color;
                font-size: 0.95rem;
                line-height: 1.3rem;
                word-spacing: 1.3px;
            }
            .department{
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 2px;
                color: $text-light-color;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .w_container{
        padding-top: 70px;
        .person_info_container{
            flex-direction: column;
            padding: 10px 14px;
            max-width: max-content;
            margin-bottom: 20px;
            align-items: center;
            .person_poster{
                align-self: center;
            }
            .poster_container{
                width: 180px;
                height: 240px;
            }
            .person_info{
                padding: 4px 0px;
                margin-top: 10px;
                .name{
                    text-align: center;
                }
                .biography{
                    font-size: 0.9rem;
                    line-height: normal;
                    word-spacing: 1.3px;
                }
            }
        }
    }
}