@use  "../abstracts/colors" as *;
@use  "../abstracts/fonts" as *;

.poster_link{
    margin: 0 6px 8px;
    .poster_info{
        position: absolute;
        bottom: 0;
        padding: 12px 8px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background: #0d0d0dbb;
        display: none;
        justify-content: flex-end;
        flex-direction: column;
        .title{
            font-size: 0.8rem;
            font-weight: 600;
        }
        .overview{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 0.65rem;
            font-weight: 300;
            // text-align: justify;
        }
        .watch_now{
            font-size: 0.675rem;
            padding: 4px 6px;
            border-radius: 3px;
            margin-top: 5px;
            background-color: #646464aa;
            width: max-content;
            color: #fff;
            i{
                margin-right: 2px;
            }
        }
    }

    &:hover{
        .poster_container{
            box-shadow: 0px 0px 10px -6px #555;
        }
        .poster_info{
            display: flex;
        }
    }
}
.poster_container{
    width: $p-lg-w;
    height: $p-lg-h;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-color: $p-bg;
}

.i_poster_container{
    width: 220px;
    height: 150px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-color: $p-bg;
    margin-right: 18px;
   
    cursor: pointer;
}


.d_poster_link{
    margin: 0 10px 20px;
    border-radius: 3px;
    // height: max-content;
}
.d_poster_container{
    width: $p-lg-w;
    height: 180px;
    overflow: hidden;
    position: relative;
    background-color: $p-bg;
    border-radius: 3px;
}
.d_w_container{
    background-color: $nav-color;
    border-radius: 3px;
}
.d_poster_detail{
    width: $p-lg-w;
    padding: 4px 10px 8px;
    .title{
        font-size: 0.85rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }
    .date{
        font-size: 0.75rem;
        color: $text-lighter-color;
    }
}
.d_i_poster_container{
    width: 220px;
    height: 150px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background-color: $p-bg;
    margin: 0 8px;
    cursor: pointer;
}

//Watchlist
.watchlist_container{
    padding-top:90px;
    margin:0 24px;
    color:$text-color;
    padding-bottom: 40px;
}

@media screen and (max-width:600px) {
    .poster_container{
        width: $p-sm-w;
        height: $p-sm-h;
    }
    .i_poster_container{
        width: 200px;
        height: 120px;
    }
    .poster_link{
        &:nth-child(1){
            margin-left: 12px;
        }
        &:last-child{
            margin-right: 12px;
        }
    }
    .poster_no_margin{
        &:nth-child(1){
            margin-left: 12px;
        }
        &:last-child{
            margin-right: 12px;
        }
        margin: 0 6px 8px !important;
    }
    .d_poster_container{
        width: 28vw;
        height: 18vh;
    }
    .d_poster_detail{
        width: 28vw;
        padding: 4px 6px 8px;
        .title{
            font-size: 0.8rem;
        }
        .date{
            font-size: 0.7rem;
        }
    }
    .d_poster_link{
        margin: 0 0 18px;
    }
    .i_parent{
        &:nth-child(1){
            margin-left: 18px;
        }
        &:last-child{
            margin-right: 18px;
        }
    }
    .watchlist_container{
        padding-top: 76px;
        margin: 0 12px;
        h2{
            font-size: 1.2rem;
        }
    }
}