$p-lg-w:140px;
$p-lg-h:190px;
$p-sm-w:125px;
$p-sm-h:165px;
$p-c-lg-w:820px;

$r-lg-w:130px;
$r-lg-h:180px;

$container-padding:60px;

$e-lg-w:200px;
$e-lg-h:120px;
$e-sm-w:43vw;
$e-sm-h:14vh;

//season poster
$s-sm-w:125px;
$s-sm-h:165px;