@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --primary-color:#c50510;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    position: relative;
    /* overflow-x: hidden !important; */
    background: #080808;
    scroll-behavior: smooth;
    height: 100vh;
    /* overflow: hidden; */
}
body.no-scroll{
  max-height: 100vh;
  overflow: hidden !important;
}

html:focus-within{
  scroll-behavior: smooth;
}
body.no_scroll{
  overflow: hidden !important;
}
main{
  width: 100%;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80,0.6);
  border-radius: 3px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120,0.6);
}

button{
  outline: none;
  border: none;
  /* background: transparent; */
}

/* Loading circle */
.lds-ring {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 58px;
  height: 58px;
  margin: 8px;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-image-container{
  animation: hide-logo 1s linear;
}

@keyframes hide-logo {
  100% {
    opacity: 0;
    display: none;
  }
}